/* Common Styles
================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:300,400,600,700,800,900|Roboto:300,400,500,700,900');

@font-face {
   font-family: "font name";
   font-style: normal;
   font-weight: 400;
   src: url("../webfonts/.WOFF") format("woff");
}


/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   background-color: #fff;
   color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 15px;
   font-weight: 700;
}

a,
a:hover,
a:focus,
a:active,
a:hover,
a:visited {
   text-decoration: none;
   color: #333;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}


input:focus,
textarea:focus,
button:focus {
   outline: 0 solid;
}

ul.inline-list {
   margin: 0;
   padding: 0;
   list-style: none;
}

ul.inline-list li {
   display: inline-block;
   margin-left: -4px;
}

ul.inline-list li a {
   display: block;
   transition: 0.6s;
   padding: 10px 20px;
}


/* Owl Carowsel
===============*/

/*
.owl-carousel-class-name .owl-nav div {
   position: absolute;
   bottom: -40px;
   height: 35px;
   width: 30px;
   line-height: 35px;
   background: #1083D8;
   text-align: center;
   color: #fff;
   font-size: 20px;
   left: 42%;
}

.owl-carousel-class-name .owl-nav .owl-next {
   left: auto;
   right: 42%;
}

.owl-dots div {
   display: inline-block;
   height: 15px;
   width: 15px;
   background: #FACD38;
   margin: -38px 5px;
   border-radius: 50%;
}

.owl-dots div.active {
   background-color: #1083D8;
}

.owl-dots {
   text-align: center;
}*/
/* 
.container {
   width: 960px;
   margin: 0 auto;
   padding: 20px;
   padding-bottom: 40px;
   font-family: 'Calibri', 'CalibriRegular', Verdana, Arial, Helvetica, sans-serif;
}

.gallery {}

.gallery .previews,
.gallery .full,
.gallery .desc {
   float: left;
   margin-right: 10px;
}

.gallery .desc,
.gallery .full {
   width: 400px;
   font-size: 12px;
}

.gallery .desc h2 {
   margin-top: 0;
}

.gallery .previews a {
   display: block;
   margin-bottom: 5px;
}

.gallery .full,
.gallery .full img {
   height: 600px;
}

.gallery .previews a,
.gallery .full {
   border: 2px solid transparent;
   height: 92px;
   width: 69px;
}

.gallery .previews a:hover,
.gallery .previews a.selected {
   border: 2px solid #F76793;
}

.gallery .full img:hover {
   cursor: pointer;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.gallery .full {
   width: auto;
   border: 0;
} */

/*  */
/*  */
/*  */
.selectors {
   display: block;
   float: left;
   margin-right: 10px;
}

.selectors img {
   height: 100px;
}

a.mz-thumb,
a.mz-thumb-selected.selected,
a[data-zoom-id],
.mz-thumb,
.mz-thumb:focus {
   display: block !important;
}

.selectors a[data-zoom-id] img,
.selectors .mz-thumb img {
   padding-bottom: 0px;
   box-sizing: border-box;
   margin-bottom: 10px;
}


.selectors .selected img,
.mz-thumb-selected img {
   border: 2px solid #F76793 !important;
}

.preview-big-image {
   border: 0 !important;
}


.mz-expand div:nth-child(3),
.mz-expand span,
.mz-figure span,
.mz-figure span a {
   display: none !important;
   opacity: 0;
}


/*  */

.big-image-bottom p {
   font-size: 12px;
   margin-top: 20px;
}

.social-icons ul {
   margin: 0;
   padding: 0;
   list-style: none
}

.social-icons ul li {
   display: inline-block;
}

.social-icons li a {
   display: block;
   font-size: 20px;
   height: 35px;
   width: 35px;
   line-height: 35px;
   text-align: center;
   background: red;
   color: #fff;
   border-radius: 50%;
   margin: 0 8px;
}

.social-icons ul li:nth-child(1) a {
   background: #456EB9;
}

.social-icons ul li:nth-child(2) a {
   background: #4CD5F2;
}

.social-icons ul li:nth-child(3) a {
   background: #E73E3F;
}

.social-icons ul li:nth-child(4) a {
   background: #EA5F76;
}







.color-picker div{
   height: 18px;width: 18px;background-color: red; display: inline-block;
}

.color-picker .square