body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
form {
    border: 0;
    margin: 0;
    padding: 0;
}

p {
    font-size: 2.0rem;
    line-height: 1.6em;
    color: #222;
    width: 50%;
    margin: auto;
}

h2 {
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}

header {
    background: url(../img/cover2.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

nav {
    position: fixed;
    top: 40px;
    left: 2%;
    z-index: 99999;
    display: none;
}

nav ul {}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #3A4145;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.7;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
    text-decoration: none;
    color: #86C440;
}

nav ul li a:visited {
    text-decoration: none;
}

a.active {
    color: #86c440;
}

.logo img {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 180px;
}

.arrow-down {
    text-align: center;
    margin-bottom: 100px;
}

.arrow-down a {
    text-decoration: none;
    color: #fff;
    font-size: 140px;
    text-align: center;
    opacity: 0.6;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.arrow-down a:hover {
    opacity: 0.9;
}

.what {
    background-color: #F2EFE8;
    height: 100%;
    width: 100%;
    padding: 50px 0;
    position: relative;
}

.what .arrow {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 50px solid #f2efe8;
    border-top-color: rgb(242, 239, 232);
    left: 6%;
}

.how {
    background-color: #0099CC;
    height: 100%;
    width: 100%;
    padding: 50px 0;
    position: relative;
}

.how .arrow {
    content: '';
    display: block;
    /*    */
    position: absolute;
    bottom: -50px;
    /*    right: 6%;*/
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 50px solid #f2efe8;
    border-top-color: rgb(0, 153, 204);
    right: 6%;
}

.how h2 {
    color: #fff;
}

.how p {
    color: #fff;
}

.more {
    background-color: #F2EFE8;
    height: 100%;
    width: 100%;
    padding: 50px 0;
    position: relative;
}

.more .arrow {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 50px solid #f2efe8;
    border-top-color: rgb(242, 239, 232);
    left: 6%;
}
.get-it {
    background-color: #0099CC;
    height: 100%;
    width: 100%;
    padding: 50px 0;
}

.get-it h2 {
    color: #fff;
}

.get-it p {
    color: #fff;
}



footer{
 background-color: #22343A;   padding: 10px 0;

}

footer p{
  font-family: 'Open Sans', sans-serif;
font-size: 1.3rem;
line-height: 1.5em;
color: #BBC7CC;
text-align: center;
 
}
footer a{
 color: #BBC7CC;-webkit-transition: 0.3s;transition: 0.3s;
 
}footer a:hover{
 color: #50585D;
}