@import url('https://fonts.googleapis.com/css?family=Arimo|Cousine|Montserrat|Rubik|Varela+Round');
.container {
   width: 1360px;
   max-width: 100%
}

.body {}

#logo > img {
   margin-top: -2px;
}

div.nav.cccc {
   width: 100% !important;
}

.container.padding-less {
   box-shadow: 9px 14px 29px -2px #000000b3;
}

.pic-phone {
   box-shadow: 17px -4px 29px -2px #000000b3;
   float: left;
   padding-bottom: 29px;
   padding-left: 24px;
   padding-right: 19px;
   padding-top: 18px;
   position: relative;
   width: 22%;
   z-index: 1;
}

.mainmamu {
   float: left;
   width: 56%;
}

.container.padding-less #logo {
   float: left;
   width: 22%;
}

.contactxt a {
   color: inherit !important;
   text-decoration: none !important;
}

.hideit {
   opacity: 0;
}

.showit {
   opacity: 1;
}


button {
   outline: 0;
}

.nav li > ul > li > a {
   display: inline;
   font-size: 15px;
   transition: 0.5s
}

.nav li > ul > li > a:hover {
   background: #fce070;
   color: black;
   border: solid 7px #fce070;
}



.nav a:link {
   color: white !important;
}

.nav a:link:hover {
   color: #ffffff !important;
}

.nav a:visited {
   color: #ffffff00;
   !important;
}


.nav {

   z-index: 10;
   background-color: #404040;

}

.nav ul {
   list-style: none;
   text-align: center;
   padding: 0;
   margin: 0;
   margin-top: 0px;
}

.shadow1 {
   position: absolute;
   height: 148px;
   width: 49px;
   background: #ffffff00;
   margin-top: 1px;
   margin-left: 293px;
   box-shadow: 20px -2px 20px -4px #00000085;
}

.mainul {
   height: 149px;
   box-shadow: -3px 0px 20px 0px #7e7e7ea6;
}

.mainul2 {
   /*box-shadow: 9px 14px 29px -2px #000000b3;
    
 box-shadow:  inset 0px -11px 8px -10px #CCC; */
}

.mai1nul?? {
   box-shadow: inset 0px -11px 8px -10px #CCC;
}


.border1 {
   position: absolute;
   width: 100%;
   color: blue;
   background-color: blue;
   z-index: 99999;
}

#phonecon1 {
   float: left;
   margin-left: 5px;
   margin-right: 15px;
}

.pic-phone h1 {
   color: #ffffff;
   font-family: Varela Round;
   font-size: 24px;
   padding-top: 7px;
}

.nav.scroll-to-fixed-fixed {
   width: auto !important;
}

.pic-phone h2 {
   color: #ffffff;
   font-family: Arimo;
   font-size: 33px;
   font-weight: 900;
   margin-top: -12px;
}

#hithere {
   font-size: 35px;
   margin-top: 3px;
   margin-left: -2px;
   border: none;
   transition: 0.6s;
}

#hithere:link:hover {
   border: none;
}

.nav ul {
   background-color: #404040;
}


.nav li {
   font-family: Arimo;
   font-size: 1.2em;
   line-height: 40px;



}



.nav a {

   font-size: 20px;

   margin-top: 48px;

   text-decoration: none !important;

   color: #d8d8d8;

   display: block;


   border-top: 2px solid transparent;
   transition: 0.6s;
   border-width: 2px;
   background-image: linear-gradient(to left, transparent 1%, transparent 50%, transparent 100%),
   linear-gradient(to left, transparent 1%, transparent 50%, transparent 100%);
   background-size: 100% 2px;
   background-position: 0% 0%, 0% 100%;
   background-repeat: no-repeat;
}



.nav a:hover {

   border-top: 2px solid white;
   color: white;
   border-width: 2px;

   background: rgba(255, 255, 255, 0.13);
   background: linear-gradient( to right,
   rgba(255, 255, 255, 0.13) 0%,
   rgba(255, 255, 255, 0.13) 77%,
   rgba(255, 255, 255, 0.5) 92%,
   rgba(255, 255, 255, 0.0) 100%);

   background-size: 0% 2px;
   background-position: 0% 0%, 0% 100%;
   background-repeat: no-repeat;


   border-radius: 5px;
   border-top: px;

}

.nav a:hover:before,
.nav a:hover:after {

   color: white;
   BACKGROUND: #ff0000;
   border-radius: 20px;
   border-top: px;

}

.nav a:active {
   color: none !important;
   text-decoration: none !important;
   outline: 0 !important;

   cursor: default;
}


/* Sub Menus */

.nav li li {
   font-size: .8em;
}

/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
   .nav li {
      width: 130px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      display: inline-block;
      margin-right: 0;
   }

   .nav a {
      border-bottom: none;
   }

   .nav > ul > li {
      text-align: center;
   }

   .nav > ul > li > a {
      padding-left: 0;
   }

   /* Sub Menus */
   .nav li ul {
      position: absolute;
      display: none;
      width: inherit;
   }

   .nav li:hover ul {
      display: block;
   }

   .nav li ul li {
      display: block;
   }
}

.slider h2 {
   color: #fce070;
   font-family: Varela Round;
   font-size: 121px;
}

.slider h1 {
   color: #ffffff;
   font-family: Varela Round;
   font-size: 121px;
}

.slider h3 {
   color: #fce070;
   font-family: Varela Round;
   font-size: 49px;
}

.slider h4 {
   color: #ffffff;
   font-family: Cousine;
   font-size: 27px;
   font-weight: 700;
}

.slider_bbotun {
   padding-left: 266px;
   padding-top: 80px;
}

.slider_bbotun > button {
   margin-right: 23px;
}

.slider_text {
   padding-right: 200px;
   padding-top: 150px;
   text-align: right;
}

.slider.cc {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: rgba(0, 0, 0, 0);
   background-image: url("../images/slidbg.png");
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: no-repeat;
   background-size: cover;
   height: 765px;

}

.animated_fnnv {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   border-bottom-color: #d6d6d6;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-image-outset: 0 0 0 0;
   border-image-repeat: stretch stretch;
   border-image-slice: 100% 100% 100% 100%;
   border-image-source: none;
   border-image-width: 1 1 1 1;
   border-left-color: #d6d6d6;
   border-left-style: solid;
   border-left-width: 1px;
   border-right-color: #d6d6d6;
   border-right-style: solid;
   border-right-width: 1px;
   border-top-color: #d6d6d6;
   border-top-style: solid;
   border-top-width: 1px;
}

.animated_fnnv {
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   padding-bottom: 50px;
   padding-left: 0;
   padding-right: 0;
   padding-top: 50px;
}

.about.hideit.showit.animated.lightSpeedIn {
   padding-bottom: 200px;
   padding-left: 0;
   padding-right: 0;
   padding-top: 200px;
}

.col-md-6.shareww {
   padding-left: 120px !important;
   padding-top: 38px;
}

.col-md-6.shareww2 {
   display: inline-block;
   padding-right: 116px;
   position: relative;
   text-align: right;
   width: 674px;
}

.col-md-6.shareww2 > img {
   left: 36px;
   position: absolute;
   top: 34px;
}

.col-md-6.shareww2 > h2 {
   margin-top: 0;
   padding-right: 21px;
}

.col-md-6.contact_bg2 {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #fce070;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
}

#button1 {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #e8e8e8;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   border-bottom-color: currentcolor;
   border-bottom-left-radius: 14px;
   border-bottom-right-radius: 14px;
   border-bottom-style: none;
   border-bottom-width: medium;
   border-image-outset: 0 0 0 0;
   border-image-repeat: stretch stretch;
   border-image-slice: 100% 100% 100% 100%;
   border-image-source: none;
   border-image-width: 1 1 1 1;
   border-left-color: currentcolor;
   border-left-style: none;
   border-left-width: medium;
   border-right-color: currentcolor;
   border-right-style: none;
   border-right-width: medium;
   border-top-color: currentcolor;
   border-top-left-radius: 14px;
   border-top-right-radius: 14px;
   border-top-style: none;
   border-top-width: medium;
   color: #4f4f4f;
   font-family: Cousine;
   font-size: 15px;
   height: 60px;
   transition-delay: 0s;
   transition-duration: 0.5s;
   transition-property: all;
   transition-timing-function: ease;
   width: 165px;
}

#button1:hover {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #fce070;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
}

#button2 {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #4f4f4f;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   border-bottom-color: currentcolor;
   border-bottom-left-radius: 14px;
   border-bottom-right-radius: 14px;
   border-bottom-style: none;
   border-bottom-width: medium;
   border-image-outset: 0 0 0 0;
   border-image-repeat: stretch stretch;
   border-image-slice: 100% 100% 100% 100%;
   border-image-source: none;
   border-image-width: 1 1 1 1;
   border-left-color: currentcolor;
   border-left-style: none;
   border-left-width: medium;
   border-right-color: currentcolor;
   border-right-style: none;
   border-right-width: medium;
   border-top-color: currentcolor;
   border-top-left-radius: 14px;
   border-top-right-radius: 14px;
   border-top-style: none;
   border-top-width: medium;
   color: #ffffff;
   font-family: Cousine;
   font-size: 15px;
   height: 60px;
   transition-delay: 0s;
   transition-duration: 0.5s;
   transition-property: all;
   transition-timing-function: ease;
   width: 165px;
}

#button2:hover {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #fce070;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   color: #4f4f4f;
}

.col-md-4.animated_single {
   text-align: center;
}

.animated_single > h2 {
   color: #686868;
   font-family: Arimo;
   font-size: 15px;

}

.services {
   padding-bottom: 80px;
   padding-left: 0;
   padding-right: 0;
   padding-top: 80px;
}

#carcon.icon_home {
   margin-top: 46px;
}

#safecon.icon_home {
   margin-top: 8px;
}

#morecon.icon_home {
   margin-top: 3px;
}

.services .animate1 h2 {
   color: #6c6c6c;
   font-family: rubik;
   font-size: 20px;
   font-weight: 200;
}

.services .animate1 h1 {
   color: #6c6c6c;
   font-family: rubik;
   font-size: 25px;
   margin-bottom: -11px;
   margin-left: 0;
   margin-right: 0;
   margin-top: 10px;
}

.col-md-4.services_single {
   padding-bottom: 50px;
   padding-left: 0;
   padding-right: 0;
   padding-top: 50px;
   text-align: center;
}

.about h2 {
   color: #686868;
   font-family: Arimo;
   font-size: 15px;
}

#kodancon.icon_home {
   height: 83px;
}

.sharee {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #3a3a3a;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   padding-bottom: 93px;
   padding-left: 0;
   padding-right: 0;
   padding-top: 70px;
}

.col-md-4.services_single.boxshadow {
   box-shadow: -2px 2px 35px 15px #dddddd30;
   position: relative;
}

.col-md-4.services_single.boxshadow.ccc {
   box-shadow: -2px 2px 35px 15px #dddddd30;
   position: relative;
}

.kavskodanwwe {
   display: inline-block;
   position: relative;
}

.kavskodanwwe > img {
   left: 2px;
   position: absolute;
   top: 36px;
}

.col-md-4.services_single.boxshadow.ccc::after {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #fff;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   bottom: -31px;
   content: "";
   height: 70px;
   left: 0;
   position: absolute;
   width: 100%;
   z-index: 15;
}

.sharee h1,
.sharee h2 {
   color: white;
   font-family: rubik;
   font-size: 49px;
}

#btnshare {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   background-attachment: scroll;
   background-clip: border-box;
   background-color: orange;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   border-bottom-color: currentcolor;
   border-bottom-style: none;
   border-bottom-width: medium;
   border-image-outset: 0 0 0 0;
   border-image-repeat: stretch stretch;
   border-image-slice: 100% 100% 100% 100%;
   border-image-source: none;
   border-image-width: 1 1 1 1;
   border-left-color: currentcolor;
   border-left-style: none;
   border-left-width: medium;
   border-right-color: currentcolor;
   border-right-style: none;
   border-right-width: medium;
   border-top-color: currentcolor;
   border-top-style: none;
   border-top-width: medium;
   color: white;
   font-family: arimo;
   font-size: 30px;
   height: 100px;
   transition-delay: 0s;
   transition-duration: 0.7s;
   transition-property: all;
   transition-timing-function: ease;
   width: 244px;
}

#btnshare:hover {
   transform: scale(0.9);
}

.icon_home {
   transition-delay: 0s;
   transition-duration: 0.7s;
   transition-property: all;
   transition-timing-function: ease;
}

.icon_home:hover {
   transform: rotate(360deg);
}

.services #btn1 {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #676767;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   border-bottom-color: transparent;
   border-bottom-style: solid;
   border-bottom-width: 2px;
   border-image-outset: 0 0 0 0;
   border-image-repeat: stretch stretch;
   border-image-slice: 100% 100% 100% 100%;
   border-image-source: none;
   border-image-width: 1 1 1 1;
   border-left-color: transparent;
   border-left-style: solid;
   border-left-width: 2px;
   border-right-color: transparent;
   border-right-style: solid;
   border-right-width: 2px;
   border-top-color: transparent;
   border-top-style: solid;
   border-top-width: 2px;
   color: white;
   font-family: rubik;
   font-size: 13px;
   font-weight: 500;
   height: 39px;
   margin-top: 35px;
   transition-delay: 0s;
   transition-duration: 0.5s;
   transition-property: all;
   transition-timing-function: ease;
   width: 72px;
}

.services #btn1:hover {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   background-attachment: scroll;
   background-clip: border-box;
   background-color: rgba(0, 0, 0, 0);
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   border-bottom-color: #6c6c6c;
   border-bottom-style: solid;
   border-bottom-width: 3px;
   border-image-outset: 0 0 0 0;
   border-image-repeat: stretch stretch;
   border-image-slice: 100% 100% 100% 100%;
   border-image-source: none;
   border-image-width: 1 1 1 1;
   border-left-color: #6c6c6c;
   border-left-style: solid;
   border-left-width: 3px;
   border-right-color: #6c6c6c;
   border-right-style: solid;
   border-right-width: 3px;
   border-top-color: #6c6c6c;
   border-top-style: solid;
   border-top-width: 3px;
   color: #6c6c6c;
}

.dcontact_bg1 #fromcon {
   float: left;
}

.dcontact_bg1 {
   padding-left: 225px;
   padding-top: 65px;
}

.contact_bg1 {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: rgba(0, 0, 0, 0);
   background-image: url("../images/bgcontact.png");
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: no-repeat;
   background-size: cover;
   height: 644px;
}

.fromtxt h1 {
   color: white;
   font-family: rubik;
   font-size: 42px;
   font-weight: 300;
   margin-left: 111px;
   margin-top: 0;
   position: relative;
   top: 10px;
}

.fromtxt h2 {
   color: white;
   font-family: arimo;
   font-size: 19px;
   margin-left: 101px;
   margin-top: 0px;
}

.dcontact_bg2 {
   position: relative;
   right: -243px;
   width: 383px;
}

.dcontact_bg2 > img {
   float: right;
}

.contactxt h1,
.locationtxt h1 {
   color: #4d4d4d;
   font-family: arimo;
   font-size: 20px;
   font-weight: 600;
   left: -19px;
   position: relative;
   text-align: right;
   top: 21px;
}

.contactxt h2 {
   color: #4d4d4d;
   font-family: rubik;
   font-size: 37px;
   font-weight: 300;
   text-align: right;
   position: relative;
   left: -13px;
}

.contactxt a {
   color: inherit !important;
   text-decoration-color: currentcolor !important;
   text-decoration-line: none !important;
   text-decoration-style: solid !important;
}

.dcooorrr h3 {
   color: #4d4d4d;
   font-family: rubik;
   font-size: 52px;
   font-weight: 600;
   margin-bottom: -2px;
   margin-top: 0;
}

.dcooorrr h4 {
   color: #4d4d4d;
   font-family: rubik;
   font-size: 52px;
   font-weight: 600;
   margin-bottom: -2px;
}

.dcooorrr {
   padding-right: 114px;
   text-align: right;
}

.locationtxt h2 {
   color: #4d4d4d;
   font-family: rubik;
   font-size: 37px;
   font-weight: 300;
}

.redtxt {
   color: red;
}

.dcooorrr a {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #fff;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   box-shadow: -4px 0 14px 2px #0000001a;
   color: #4d4d4d;
   display: inline-block;
   padding-bottom: 5px;
   padding-left: 12px;
   padding-right: 15px;
   padding-top: 5px;
   position: relative;
   text-decoration-color: currentcolor;
   text-decoration-line: none;
   text-decoration-style: solid;
   width: 381px;
   z-index: 1;
}

.dcooorrr {
   display: inline-block;
   padding-left: 148px;
   padding-right: 116px;
   position: relative;
   text-align: right;
}

.relative_ff {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #fcfcfc;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   height: 34px;
   left: 148px;
   position: absolute;
   top: -18px;
   width: 87px;

}

.col-md-6.contact_bg2 #boxgmaps {
   display: inline-block;
   margin-top: 5px;
   padding-left: 58px;
}

footer {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #272727;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   padding-bottom: 100px;
   padding-left: 0;
   padding-right: 0;
   padding-top: 50px;
}

.socialtxt h1 {
   color: white;
   font-family: ARIMO;
   font-size: 20px;
}

.navtxt h1 {
   color: white;
   font-family: ARIMO;
   font-size: 20px;
}

#facon {

   transition-delay: 0s;
   transition-duration: 0.25s;
   transition-property: all;
   transition-timing-function: ease;
   z-index: 3;
}

#facon:hover {
   transform: translateY(-6px);
}

#instacon {

   transition-delay: 0s;
   transition-duration: 0.25s;
   transition-property: all;
   transition-timing-function: ease;
   z-index: 3;
}

#instacon:hover {
   transform: translateY(-6px);
}

#twtcon {
   transition-delay: 0s;
   transition-duration: 0.25s;
   transition-property: all;
   transition-timing-function: ease;
   z-index: 3;
}

#twtcon:hover {
   transform: translateY(-6px);
}

.col-md-4.socialtxyy {
   text-align: center;
}

.col-md-4.socialtxyy {
   position: relative;
   text-align: center;
}

.socialcons {
   margin-top: 44px;
}

.socialcons > img {
   margin-right: 7px;
}

.col-md-4.socialtxyy::after {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #8a8a8a;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   bottom: -35px;
   content: "";
   height: 3px;
   left: 50%;
   margin-left: -100px;
   position: absolute;
   width: 200px;
}

.navtxt > li {
   float: left;
   list-style-image: none;
   list-style-position: outside;
   list-style-type: none;
   width: 33%;
}

.navtxt {
   text-align: center;
}

.navtxt a {
   color: #fff;
}

.detailstxt h1 {
   color: white;
   font-family: rubik;
   font-size: 19px;
   font-weight: 100;
   margin-bottom: 0;
   margin-top: 23px;
}

.detailstxt h2 {
   color: white;
   font-family: rubik;
   font-size: 16px;
   font-weight: 100;
   margin-top: 1px;
}

.detailstxt h3 {
   color: White;
   font-family: rubik;
   font-size: 15px;
   font-weight: 100;
   margin-right: 28px;
}

.detailstxt h4 {
   color: White;
   font-family: rubik;
   font-size: 15.35px;
   font-weight: 100;
   margin-top: -9px;
   margin-right: 27px;
}

.col-md-4 #footerlogo {
   float: right;
}

.detailstxt {
   float: left;
   padding-left: 75px;
   text-align: right;
}

.detailstxtee2 {}

.detailstxtee2 > img {
   float: right;
}

.credits h1 {
   color: White;
   font-family: simple clm;
   font-size: 14px;
   margin-left: 10px;
   margin-top: 14px;
}

.bluep {
   color: #1bb8f9;
}

.footer_bottom {
   background-attachment: scroll;
   background-clip: border-box;
   background-color: #000;
   background-image: none;
   background-origin: padding-box;
   background-position-x: 0;
   background-position-y: 0;
   background-repeat: repeat;
   background-size: auto auto;
   padding-bottom: 4px;
}

.styletxt1 {
   color: white;
   font-family: rubik;
   font-weight: 400;
}

.styletxt2 {
   font-family: Montserrat;
   font-weight: 600;
}

#button {
   background-color: #fbd951;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   bottom: 30px;
   display: none;
   height: 50px;
   margin-bottom: 30px;
   margin-left: 30px;
   margin-right: 30px;
   margin-top: 30px;
   position: fixed;
   right: 30px;
   text-align: center;
   text-decoration-color: currentcolor;
   text-decoration-line: none;
   text-decoration-style: solid;
   transition-delay: 0s;
   transition-duration: 0.3s;
   transition-property: background-color;
   transition-timing-function: ease;
   width: 50px;
   z-index: 1000;
   color: #fff;
}

.innertxt h2 {
   color: #4f4f4f61;
   font-family: Carmela;
   font-size: 20px;
   margin-top: 0;
}

.innertxt > h1 {
   float: right;
}

.innertxt h1 {
   color: #4f4f4f;
   font-family: Carmela;
   font-size: 29px;
}

.titletxt h1 {
   color: #4f4f4f;
   font-family: open sans hebrew;
   font-size: 87px;
   font-weight: 700;
   margin-top: 0;
}

.titletxt h2 {
   color: #4f4f4f;
   font-family: open sans hebrew;
   font-size: 30px;
   font-weight: 100;
   margin-bottom: -9px;
}

.innertxtee {
   border-bottom-color: #ddd;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 0;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-left-color: #ddd;
   border-left-style: solid;
   border-left-width: 1px;
   border-top-color: #ddd;
   border-top-left-radius: 15px;
   border-top-right-radius: 0;
   border-top-style: solid;
   border-top-width: 1px;
   float: right;
   margin-bottom: 95px;
   margin-top: 35px;
   padding-bottom: 20px;
   padding-left: 352px;
   padding-top: 35px;
   position: relative;
   right: -165px;
   text-align: right;
   width: 86%;
}

.imggfdhf {
   left: 44px;
   position: absolute;
   top: 456px;
   z-index: 1;
}

.innertxt {}

.padding-less {}

.innertxt33 {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   border-bottom-color: #ddd;
   border-bottom-left-radius: 11px;
   border-bottom-right-radius: 11px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-image-outset: 0 0 0 0;
   border-image-repeat: stretch stretch;
   border-image-slice: 100% 100% 100% 100%;
   border-image-source: none;
   border-image-width: 1 1 1 1;
   border-left-color: #ddd;
   border-left-style: solid;
   border-left-width: 1px;
   border-right-color: #ddd;
   border-right-style: solid;
   border-right-width: 1px;
   border-top-color: #ddd;
   border-top-left-radius: 11px;
   border-top-right-radius: 11px;
   border-top-style: solid;
   border-top-width: 1px;
   display: inline-block;
   left: 36%;
   padding-bottom: 0;
   padding-left: 27px;
   padding-right: 27px;
   padding-top: 0;
   position: absolute;
   top: 438px;
   width: 41%;
}

.container.padding-less {
   padding-left: 0;
   padding-right: 0;
}

.titletxt.ccc {

   text-align: right;
}

.titletxt.ccc > img {
   float: right;
}

#button:hover {
   background-color: #6f6f6f;
   cursor: pointer;
}

#button:active {
   background-color: #555;
}

#button::after {
   color: #fff;
   content: "";
   font-family: FontAwesome;
   font-size: 0.9em;
   font-style: normal;
   font-weight: normal;
   line-height: 50px;
}

form {
   margin-top: 30px;
}

form input[type="text"] {
   width: 100%;
   text-align: center;
   padding: 15px;
   margin-bottom: 8px;
}

form textarea {
   width: 100%;
   height: 200px;
   margin: 15px 0;
}

form input[type="submit"] {
   text-align: center;
   background-color: #F8DC6E;
   color: #fff;
   padding: 7px 25px;
   display: table;
   margin: auto;
   font-size: 24px;
   font-weight: 300;
   border: 0;
   border-radius: 5px;
}


.animated-slider .owl-nav div {
   position: absolute;
   top: 50%;
   height: 35px;
   width: 30px;
   line-height: 35px;
   text-align: center;
   color: #FCE070;
   font-size: 72px;
   left: 4%;
}

.animated-slider .owl-nav .owl-next {
   left: auto;
   right: 4%;
}
