/* Common Styles
================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:300,400,600,700,800,900|Roboto:300,400,500,700,900');

@font-face {
    font-family: "font name";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/.WOFF") format("woff");
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

a,
a:hover,
a:focus,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/* Owl Carowsel
===============*/

.work_box .owl-nav div {
    position: absolute;
    bottom: -40px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    color: #000;
    font-size: 50px;
    left: -70px;
    top: 55%;
    margin-top: -35px;
    font-weight: 700;
    border-radius: 60%;
    border: 3px solid #000;
}

.work_box .owl-nav .owl-next {
    top: 40%;
}

/* Banner Starts*/

.banner_outer {
    width: 100%;
    height: 900px;
    margin: auto;
    align-content: center;
    background-color: #000;
    background-attachment: fixed;
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-attachment: fixed;
    position: fixed;
    position: relative;
    align-content: center;
    margin: auto;
}

.banner-inner {
    width: 100px;
    height: 900px;
    margin: 0px auto;
}

.txt_box {
    width: 650px;
    height: 0; //background-color: red;
    margin-top: 25%;

    position: absolute;
}

.txt_box img {
    margin-left: 200px;
}

body {
    position: relative;
}

.nav {
    /* width: 900px; */
    width: 900px;
    height: 100px;
    /* margin-left: 950px; */
    /* margin-top: 280px; */
    /* background-color: green; */
    transform: rotate(-90deg);
    position: fixed;
    z-index: 99;
    left: 59%;
    top: 21%;
}

.nav ul {
    list-style-type: none;
    margin-top: 60px;
    margin-left: -50px;
    float: left;
    position: fixed;
    width: 100%;
    overflow: auto;
}

.nav li {
    color: #fff;
    font-family: 'Open+Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.nav ul li {
    display: inline-block;
    padding: 20px 8px 20px;
    margin-left: 40px;

}

.nav ul li:hover {
    opacity: 1.0;
}

.nav ul a {
    color: #555;
    transition: .5s
}

.nav ul a:hover {
    border-bottom: 2px solid #555;
    padding-bottom: 3px;
    display: block;
}

/* Banner Section Ends */

/* my story Section Begins */

.mystory {
    width: 100%;
    height: 600px;
    background-color: #fff; //border: 1px solid black;
    margin: 0px auto;
    position: relative;
}

.mystory_txt {
    font-size: 64px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-left: 200px;
    margin-top: 50px;
}

.infographic {
    width: 900px; //height: 700px;
    margin-top: -55px;
    margin-left: 380px;
}

/* my story Section Begins */

/* skills Section Begins */

.skills {
    width: 100% height: 700px;
    background-color: #fff; //border: solid 1px red;
    margin: 0px auto;
    position: relative;
}

.skills_txt {
    font-size: 64px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-left: 200px;
    margin-top: 50px;
    position: absolute;
}

.set_box {
    width: 1000px;
    height: 500px;
    margin-top: 200px;
    margin-left: 300px; //background-color: red;
    position: absolute;
}

.box01 {
    width: 200px;
    height: 200px;
    position: absolute; //background-color: blue;
    margin-left: 100px;
    margin-top: 25px;
}

.box02 {
    width: 200px;
    height: 200px;
    position: absolute; //background-color: blue;
    margin-left: 400px;
    margin-top: 25px;
}

.box03 {
    width: 200px;
    height: 200px;
    position: absolute; //background-color: blue;
    margin-left: 700px;
    margin-top: 25px;
}

.box04 {
    width: 200px;
    height: 200px;
    position: absolute; //background-color: blue;
    margin-left: 100px;
    margin-top: 275px;
}

.box05 {
    width: 200px;
    height: 200px;
    position: absolute; //background-color: blue;
    margin-left: 400px;
    margin-top: 275px;
}

.box06 {
    width: 200px;
    height: 200px;
    position: absolute; //background-color: blue;
    margin-left: 700px;
    margin-top: 275px;
}

.brain01 {
    width: 200px;
    height: 170px;
    position: absolute; //background-color: yellow;
}

.brain02 {
    width: 200px;
    height: 170px;
    position: absolute; //background-color: yellow;
}

.brain03 {
    width: 200px;
    height: 170px;
    position: absolute; //background-color: yellow;
}

.brain04 {
    width: 200px;
    height: 170px;
    position: absolute; //background-color: yellow;
}

.brain05 {
    width: 200px;
    height: 170px;
    position: absolute; //background-color: yellow;
}

.brain06 {
    width: 200px;
    height: 170px;
    position: absolute; //background-color: yellow;			
}

.img_01 {
    width: 170px;
    margin-left: 15px;
    position: absolute;
}

.img_02 {
    width: 170px;
    margin-left: 15px;
    position: absolute;
}

.img_03 {
    width: 170px;
    margin-left: 15px;
    position: absolute;
}

.img_04 {
    width: 170px;
    margin-left: 15px;
    position: absolute;
}

.img_05 {
    width: 170px;
    margin-left: 15px;
    position: absolute;
}

.img_06 {
    width: 170px;
    margin-left: 15px;
    position: absolute;
}

.box01:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.box02:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.box03:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.box04:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.box05:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.box06:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.label {
    font-size: 18px;
    font-family: 'Open+Sans', sans-serif;
    font-weight: 400;
    margin-top: 170px; //margin-left: 25px;
    text-align: center;


}

/* skill Section Ends */

/* work Section Begins */

.work {
    width: 100%;
    height: 700px;
    background-color: #fff; //border: solid 1px black;
    margin-top: 700px;
    position: relative;
}

.work_txt {
    font-size: 64px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-left: 200px;
    margin-top: 50px;
    position: absolute;
}

.work_box {
    width: 1000px;
    height: 500px;
    margin-top: 200px;
    margin-left: 300px; //background-color: red;
    position: absolute;
}

.work_box img {
    width: 450px!important;
}


/* work Section Ends */

/* Contact section Begins */

.contact {
    width: 100%;
    background-color: #000;
    background-size: 1000px;
    border: 1px solid black;
    margin: 0px auto;
    position: relative;
    padding: 70px 0 10px;
}

.contact_txt {
    color: #fff;
    font-size: 64px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-left: 200px;
    margin-top: 50px;
    position: absolute;
}

.contact_box {
    width: 1000px;
    height: 500px margin-top: 200px;
    margin-left: 300px; //background-color: #666;color: #fff;
}



.contact_box h1 {
    font-size: 60px;
    margin-bottom: 25px;
    display: block;
    padding-top: 80px;
    margin-left: -100px;
}

.contact_box .cta-btn a {
    display: inline-block;
    color: #000;
    background-color: #aff1d3;
    padding: 5px 10px;
    margin-right: 5px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact_box .cta-btn a img {
    height: 20px;
    display: inline-block;
}

.contact_box p {
    margin-bottom: 2px;
}

.row {
    margin-top: 30px;
}

.row ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row ul li {
    display: inline-block;
}

.row a {
    font-size: 18px;
    display: block;
    color: #fff;
    height: 40px;
    width: 40px;
    line-height: 35px;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-right: 5px;
    transition: 0.5s
}

.row i {
    color: #fff;
    transition: 0.5s
}

.row a:hover,
.row a:hover i {
    background-color: #fff;
    color: #000;
}
