/* Common Styles
================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:300,400,600,700,800,900|Roboto:300,400,500,700,900');

@font-face {
    font-family: "font name";
    font-style: normal;
    font-weight: 400;
    src: url("../webfonts/.WOFF") format("woff");
}


/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

a,
a:hover,
a:focus,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

nav {
    background-color: #F1F8FE;padding: 10px 0;
}

nav ul.inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul.inline-list li {
    display: inline-block;
    margin-left: -4px;
}

nav ul.inline-list li a {
    display: inline-block;
    transition: 0.6s;
    padding: 10px 25px;
    color: #999;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;

    position: relative;
    transition: .4s;
}

nav ul.inline-list li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
    height: 20px;
    width: 20px;
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    transition: .4s;
}

nav ul.inline-list li a:hover:before,
nav ul.inline-list li.active a:before {
    background-color: #3AA2FB;
}

nav ul.inline-list li i {
    margin-right: 35px;
    color: #3AA2FB;
    font-size: 21px;
    position: relative;
    top: 3px;
}


.nav-bottom{
    background-color: #3AA2FB;padding: 10px 0;
}.nav-bottom h1 a{
    font-size: 26px;color: #fff;
}.nav-bottom h1 {margin-bottom: 0;}







.nav-bottom input[type="text"] {
    border: none;
    padding: 5px 15px 10px 15px;
    border-radius: 7px;
    width: 290px;margin-top: 5px;
}

input[type="text"] {}

.nav-bottom input[type="text"]::placeholder {
    color: #3AA2FB;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #3AA2FB;
    padding-bottom: 2px;
}

.nav-bottom .search-box {
    background: #fff;
    border-radius: 7px;
    width: 77%;position: relative;
}
.nav-bottom .search{display: inline-block;}
.nav-bottom .search i {
    color: #3AA2FB;
    background: transparent;
    border: 0;
    margin-left: -45px;
}
a.search-btn {
    height: 46px;
    display: inline-block;
    position: absolute;
    top: 1px;
    background: #3AA2FB;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    line-height: 46px;
    right: 1px;
    border-radius: 0 8px 8px 0;
    padding: 0 15px; font-style: italic;
}
/*
.nav-bottom .search-box {
    display: flex;
    justify-content: space-between;
}*/
.username a {
    font-size: 13px;
    padding: 0 10px;
    height: 48px;
    color: #fff;
    display: block;font-style: italic;
    line-height: 48px;
    width: 125px;
}.username a span{
    margin: 0 5px;
}