@media (max-width: 1199px) {
   .hero-area input {
      width: 100%;
   }
   .hero-area button {
      right: 2px;
   }
   .hero-area img {
      margin-top: 40px;
   }
   .news-bg {
      width: 100%;
   }
}

@media (max-width: 991px) {
   .single-team-member img {
      margin: auto;
      padding-top: 30px;
   }
}

@media (max-width: 767px) {
   header {
      position: static;
      background-color: #0E0E0E;
   }
   header h1 img {
      margin: auto;
   }
   header nav {
      text-align: center;
   }
   header ul li {
      display: block;
      margin-top: 8px;
   }
   .about .boxed-btn {
      width: 100%;
   }
   .quote h3:before {
      left: -50px;
      font-size: 32px;
   }
   .about .boxed-btn,
   .contract a,
   .partner a {
      width: 100%;
   }
   .quote h3:after {
      right: -50px;
      font-size: 32px;
   }
   .single-feature-row img {
      margin: 70px 0;
   }
}

@media (max-width: 575px) {
   .news .company {
      display: block;
   }
   .news .company img {
      height: 40px;
      margin: auto;
   }
   .about h3 {
      width: 75%;
   }
   .about .boxed-btn {
      width: 100%;
   }
   .quote h3:before {
      left: -30px;
      font-size: 26px;
   }
   .about .boxed-btn {
      width: 100%;
   }
   .quote h3:after {
      right: -30px;
      font-size: 32px;
   }
}
