body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FEFEFE;
    background-position: -50% 0;
}


/***logo***/

.welcome {
    margin-top: 20px
}

.welcome ul {
    text-align: center;
}

.welcome ul li {
    display: inline-block;
}

.welcome ul li a {
    font-family: Love Ya Like A Sister;
    font-size: 24px;
    text-decoration: none;
    color: #58595B;
}

.welcome ul li p {
    color: #58595B;
    font-family: lato;
    font-weight: 300;
    font-size: 24px;
}

.welcome ul li a img {
    width: 28px;
}

.welcome hr {
    width: 560px;
    margin: 25px auto 35px;
    text-align: center;
    padding: 0px;
}


/***let's-start***/

.lets-start {}

.lets-start h5 {
    color: #f4314a;
    font-size: 24px;
    font-family: lato;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.lets-start h1 {
    color: #58595b;
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    font-family: Montserrat;
    font-weight: 700;
}

.lets-start hr {
    width: 560px;
    margin: 40px auto 30px;
}

.lets-start i {
    color: #f4314a;
    text-align: center;
    margin: -47px auto 25px;
    display: table;
    padding: 4px;
    font-size: 24px;
    border-radius: 50%;
    background-color: #F4F1EE;
}


/******form*****/

.create {}

.create form {
    text-align: center;
}

.create form input {
    border: 1px solid #2780f8;
    border-radius: 14px;
    margin: 10px 0px;
    padding: 8px 0px 8px 55px;
    background-color: #fff;
    width: 550px;
    height: 60px;
    font-size: 18px;
    color: #414042;
    box-shadow: 0px 3px 0px #ececec;
    font-family: lato;
    font-weight: 300;
}

.create form input::-webkit-input-placeholder {
    color: #414042;
}

.create form input::-moz-placeholder {
    color: #414042;
}

.create form input:-ms-input-placeholder {
    color: #414042;
}

.create form input::placeholder {
    color: #414042;
}

.create form input[placeholder="Name"] {
    background: url(../img/signup/name.png) no-repeat 15px 16px;
}

.create form input[placeholder="Phone"] {
    background: url(../img/signup/phone.png) no-repeat 15px 16px;
}

.create form input[placeholder="Email"] {
    background: url(../img/signup/mail.png) no-repeat 15px 16px;
}

.create form input[placeholder="Password"] {
    background: url(../img/signup/password.png) no-repeat 15px 16px;
}

.create form h5 {
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 18px;
    font-family: lato;
    font-weight: 300;
    color: #58595b;
}

.create form h5 a {
    font-size: 18px;
    color: #f4314a;
    font-weight: 900;
    font-family: lato;
    font-weight: bold;
}

.create form input[type="submit"] {}

.create .btn-default {
    background-color: #f17817;
    border: 0px;
    width: 500px;
    height: 70px;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    color: #fff;
}

.create .btn-danger {
    background-color: #f4314a;
    border: 0;
    height: 70px;
    width: 65px;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
}

.create .btn {
    border-radius: 15px;
}


/****Already have an account****/

.have-account {}

.have-account h5 {
    font-size: 24px;
    font-family: lato;
    font-weight: 300;
    text-align: center;
    margin-top: 25px;
    color: #58595b;
}

.have-account h5> a {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    color: #f4314a;
    font-weight: 900;
}

.have-account hr {
    width: 560px;
    margin: 45px auto 35px;
}

.have-account p {
    text-transform: uppercase;
    text-align: center;
    color: #f4314a;
    text-align: center;
    margin: -55px auto 25px;
    display: table;
    padding: 4px;
    border-radius: 50%;
    background-color: #F4F1EE;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
}

.have-account ul {
    text-align: center;
}

.have-account ul li {
    display: inline-block;
    background-color: #4867AA;
    border-radius: 15px;
    margin: 0px 8px;
    height: 70px;
    width: 260px;
    margin-bottom: 130px;
}

.have-account ul li a {
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
}

.have-account ul li:nth-child(2) {
    background-color: #DC483B;
}

.have-account a i {
    margin: 0px 3px;
}


/********************************************************/


/********************************************************/


/******************PAGE 2(PROJECT PAGE)******************/


/********************************************************/


/********************************************************/

.head {
    margin-top: 24px;
}

hr {
    width: 560px;
    margin: 25px auto 35px;
    text-align: center;
    padding: 0px;
}

.head .logo img {
    height: 50px
}

.head .logo a {
    font-family: Love Ya Like A Sister;
    font-size: 24px;
    text-decoration: none;
    color: #58595B;
}


/*
    title
*/

.title {}

.title h5 {
    color: #f4314a;
    font-size: 26px;
    font-family: lato;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.title h1 {
    color: #58595b;
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    font-family: Montserrat;
    font-weight: 700;
}

.title hr {
    width: 560px;
    margin: 40px auto 30px;
}

.title i {
    color: #f4314a;
    text-align: center;
    margin: -47px auto 25px;
    display: table;
    padding: 4px;
    font-size: 24px;
    border-radius: 50%;
    background-color: #F4F1EE;
}

.project-box-1 {
    background-color: #2780f8;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 1px;
    padding-bottom: 2px;
    box-shadow: 0px 3px 5px #ccc;
    margin-bottom: 15px;
}

.project-box-1 .project-pic {
    padding: 25px;
    background-color: white;
    border-radius: 12px 0px 0px 12px;
    float: left;
    width: 170px;
    height: 160px;
    text-align: center;
}

.project-box-1 .project-pic img {}

.project-box-1 .project-description {
    padding: 22px;
    background-color: #2780f8;
    border-radius: 0px 12px 12px 0px;
    overflow: hidden;
    color: #fff;
}

.project-box-1 .project-description h4 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
}

.project-box-1 .project-description p {
    font-family: lato;
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
}

.project-box-2 {
    background-color: #2780f8;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 1px;
    padding-bottom: 2px;
    box-shadow: 0px 3px 5px #ccc;
    margin-bottom: 15px;
}

.project-box-2 .project-pic {
    padding: 45px 25px;
    background-color: white;
    border-radius: 12px 0px 0px 12px;
    float: left;
    width: 170px;
    height: 160px;
    text-align: center;
}

.project-box-2 .project-pic img {}

.project-box-2 .project-description {
    padding: 22px;
    background-color: #2780f8;
    border-radius: 0px 12px 12px 0px;
    overflow: hidden;
    color: #fff;
}

.project-box-2 .project-description h4 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
}

.project-box-2 .project-description p {
    font-family: lato;
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
}

.project-box-3 {
    background-color: #2780f8;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 1px;
    padding-bottom: 2px;
    box-shadow: 0px 3px 5px #ccc;
    margin-bottom: 15px;
}

.project-box-3 .project-pic {
    padding: 25px 25px;
    background-color: white;
    border-radius: 12px 0px 0px 12px;
    float: left;
    width: 170px;
    height: 160px;
    text-align: center;
}

.project-box-3 .project-pic img {}

.project-box-3 .project-description {
    padding: 22px;
    background-color: #2780f8;
    border-radius: 0px 12px 12px 0px;
    overflow: hidden;
    color: #fff;
}

.project-box-3 .project-description h4 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
}

.project-box-3 .project-description p {
    font-family: lato;
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
}

.project-box-4 {
    background-color: #2780f8;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 1px;
    padding-bottom: 2px;
    box-shadow: 0px 3px 5px #ccc;
    margin-bottom: 75px;
}

.project-box-4 .project-pic {
    padding: 25px 25px;
    background-color: white;
    border-radius: 12px 0px 0px 12px;
    float: left;
    width: 170px;
    height: 160px;
    text-align: center;
}

.project-box-4 .project-pic img {}

.project-box-4 .project-description {
    padding: 22px;
    background-color: #2780f8;
    border-radius: 0px 12px 12px 0px;
    overflow: hidden;
    color: #fff;
}

.project-box-4 .project-description h4 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
}

.project-box-4 .project-description p {
    font-family: lato;
    font-weight: 300;
    font-size: 16px;
    margin-top: 11px;
}


/********************************************************/


/********************************************************/


/*****************PAGE 3(LANDING PAGE)*******************/


/********************************************************/


/********************************************************/

.landing-form {
    font-size: 18px;
    font-family: lato;
}

.landing-form form {
    text-align: center;
}

.landing-form form input {
    border: 1px solid #2780f8;
    border-radius: 14px;
    margin: 10px 0px;
    padding: 8px 0px 8px 55px;
    background-color: #fff;
    width: 550px;
    height: 60px;
    font-size: 18px;
    color: #414042;
    box-shadow: 0px 4px 0px #ececec;
    font-family: lato;
    font-weight: 300;
}

.landing-form form input[placeholder="Give it a Name"] {
    background: url(../img/landing/name.png) no-repeat 15px 16px;
}

.landing-form h6 {
    text-align: left;
    margin-left: 30px;
    font-size: 18px;
    font-family: lato;
    margin-top: 15px;
}

.landing-form .catagory {
    margin-top: 15px;
    overflow: hidden;
}

.landing-form .catagory .des-dev {
    height: 60px;
    width: 170px;
    background-color: #fff;
    border-radius: 16px;
    display: inline-block;
    border: 1px solid #2780f8;
    line-height: 19px;
    box-shadow: 0px 4px 0px #ececec;
    margin-left: 15px;
}

.landing-form .catagory .des-dev:nth-child(1) {
    margin-left: 0px;
    background-color: #2780f8;
    color: #fff;
}

.landing-form .catagory .des-dev img {
    float: left;
    padding: 18px 15px;
}

.landing-form .catagory .des-dev p {
    font-family: lato;
    font-size: 16px;
    text-align: left;
    margin:7px;
    overflow: hidden;
}



























select.aa {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}





























select {
    padding: 8px 0px 8px 55px;
    width: 550px;
    height: 60px;
    border-radius: 14px;
    margin: 10px 0px;
    background: #fff;
    font-size: 18px;
    color: #414042;
    box-shadow: 0px 3px 0px #ececec;
    font-family: lato;
    font-weight: 300;
    border: 1px solid #2780f8;
    font-family: lato;
    font-weight: 300;
    
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:"\f078";   
    font-family: "FontAwesome";
    font-size: 14px;
    color:#aaa;
    right:18px; 
    top:30px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
    color: #2780f8;
}
/*
label:before {
    content:'';
    right:4px; top:0px;
    width:23px; height:18px;
    background:red;
    position:absolute;
    pointer-events:none;
    display:block;
}
*/












option{
    background-image: url(../img/landing/ufo.png)no-repeat 15px 16px;
}
option:nth-child(1){
    background-image: url(../img/landing/ufo.png)no-repeat 15px 16px;
}
option{
    background-image: url(../img/landing/ufo.png)no-repeat 15px 16px;
}

































.platform{

}
.platform .btn-group{

}
.platform .btn-group a{
    text-align: left;
}
.platform .btn-group .btn{
    border: 1px solid #2780f8;
    border-radius: 14px;
    margin: 10px 0px;
    padding: 14px 0px 8px 55px;
    background-color: #fff;
    width: 550px;
    height: 60px;
    font-size: 18px;
    color: #414042;
    box-shadow: 0px 3px 0px #ececec;
    font-family: lato;
    font-weight: 300;
    text-align: left;
}
.platform .btn-group .btn .btn-default{
}
.platform .btn-group a span{
    color:  #2780f8;
    font-size: 14px;
    margin-right: 25px;
    float: right;
    margin-top: 8px;
}


.platform .btn-group .dropdown-menu{}
.platform .btn-group ul{}
.platform .btn-group ul li{}
.platform .btn-group ul li a{}





































.landing-form .quantity{
    margin-top: 15px;
}
.landing-form .quantity .texts{
    overflow: hidden;
    margin-top: 35px;
}

.landing-form .quantity img{
    float: left;
    margin-right: 20px;
}
.landing-form .quantity h5{
    float: left;
    font-size: 18px;
    font-family: lato;
}




.landing-form .quantity .input-group .form-control{
}

.landing-form .quantity .input-group {
/*    float: right;*/
    margin-left: 12%;

}
.landing-form .quantity .spinner input[type="text"] {
    border: 1px solid #2780f8;
    border-radius: 14px;
    padding: 8px 0px 8px 40px;
    width: 140px;
    font-size: 18px;
    color: #414042;
    box-shadow: 0px 4px 0px #ececec;
    font-family: lato;
    font-weight: 700;
    text-align: left;
    margin-top: 0px;
    position: absolute;
}


.landing-form .quantity .input-group-btn-vertical {
    vertical-align:middle;
}

.landing-form .quantity .input-group-btn-vertical> .btn {
    display:block;
    width: 50px;
    max-width: 50px;
    padding: 5px;
    margin-left: 0px;
    border-radius: 0;
    color: #2780f8;
    position: relative;
/*
    left: 89px;
    bottom: 59px;
*/
    left: 89px;
    bottom: 1px;

    z-index: 999;
    border: 0;
    background-color: transparent;
}

.landing-form .quantity .input-group-btn-vertical> .btn:first-child {
    border-top-right-radius: 14px;
}

.landing-form .quantity .input-group-btn-vertical> .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 14px;
}

.landing-form .quantity .input-group-btn-vertical i {

}

















































