 @font-face {
    font-family: 'FontAwesome';
    src: url('..');
    src: url(../fonts/fontawesome-webfont.ttf), url('url(../fonts/fontawesome-webfont.woff)') format('woff'), url('url(../fonts/fontawesome-webfont.svg)') format('svg');
 }
 
 {
    background-image: url(../fonts/fontawesome-webfont.ttf);
 }
 
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ul,
 li,
 form {
    border: 0;
    margin: 0;
    padding: 0;
 }
 
 ul {
    list-style: none;
 }
 
 :focus {
    outline: none;
    background-color: transparent;
 }
 
 img {
    max-width: 100%;
    height: auto;
    display: block;
 }
 
 a {
    text-decoration: none;
    color: #000;
 }
 
 a:hover,
 a:active,
 a:visited,
 a:focus {
    color: #000;
    text-decoration: none;
 }
 
 * {
    box-sizing: border-box;
 }
 
 .navbar {
    border: 0;
    height: 100%;
    border-radius: 0;
    min-height: auto;
    background-color: #fff;
    margin: 0;
 }
 
 header {
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
 }
 
 .navbar-brand {
    height: 100%;
    padding: 8px 0;
 }
 
 ul.navbar-nav {
    float: right;
 }
 
 ul.navbar-nav i {
    margin-left: 6px;
 }
 
 ul.navbar-nav a {
    font-weight: 500;
    color: #333 !important;
    font-size: 15px;
    padding: 30px 20px;
 }
 
 ul.navbar-nav img {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    height: 13px;
 }
 
 ul.navbar-nav li.hover-menu {
    position: relative;
 }
 
 ul.navbar-nav li.hover-menu:hover ul {
    display: block;
 }
 
 ul.navbar-nav li.hover-menu a {}
 
 ul.navbar-nav li.hover-menu ul {
    position: absolute;
    width: 120px;
    top: 100%;
    left: 15px;
    display: none;
    background-color: #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
 }
 
 ul.navbar-nav li.hover-menu ul li {}
 
 ul.navbar-nav li.hover-menu ul li a,
 ul.dropdown-menu a {
    display: block;
    padding: 10px;
    border-top: 1px solid #ddd;
 }
 
 ul.dropdown-menu {
    padding: 0;
    border: 0;
    box-shadow: none;
    min-width: 50px;
    left: 20px;
    border-radius: 0;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
 }
 
 ul.dropdown-menu>li>a:focus,
 ul.dropdown-menu>li>a:hover {
    color: #333;
    background-color: #ffffff;
 }
 
 .navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:focus,
 .navbar-default .navbar-nav>.open>a:hover {
    background-color: #fff;
 }
 
 .navbar-collapse {
    padding-right: 58px;
 }
 /*test
===============*/
 
 .recharge {
    background-image: url(../images/bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 30% center;
    padding: 160px 0 60px;
 }
 
 .recharge h2 {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 3px black;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 30px;
 }
 
 .recharge-box {
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0 0 4px #ccc
 }
 
 .recharge-box input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #5CB85C;
    padding: 8px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border: 0;
 }
 
 .recharge-box select {
    padding: 16px;
    width: 100%;
    margin: 20px 0;
 }
 /*=============================*/
 /*=============================*/
 /*=============================*/
 
 .recharge .btn-select {
    position: relative;
    padding: 0;
    min-width: 236px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
 }
 
 .recharge .btn-select .btn-select-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
 }
 
 .recharge .btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0;
 }
 
 .recharge .btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
 }
 
 .recharge .btn-select ul li {
    padding: 3px 6px;
    text-align: left;
 }
 
 .recharge .btn-select ul li:hover {
    background-color: #f4f4f4;
 }
 
 .recharge .btn-select ul li.selected {
    color: black;
 }
 /*=============================*/
 /*=============================*/
 /*=============================*/
 /**/
 
 .review {
    padding: 30px;
 }
 
 .buyer img {
    display: block;
    margin: auto
 }
 
 .trustpilot {
    padding-top: 40px;
 }
 
 .bg-img {
    background-image: url(../images/background-usps-tablet-d097ffa2de.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 220px;
    border-radius: 12px;
    display: table;
    width: 90%;
    margin: auto;
 }
 
 .promises .content {
    display: table-cell;
    vertical-align: middle;
 }
 
 .content-inner {
    width: 40%;
    float: right;
 }
 
 .promises .content h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
 }
 
 .promises .content img {
    float: left;
    margin-right: 8px;
    width: 25px;
 }
 /**/
 
 .info h5 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
 }
 
 .info .panel-title {
    overflow: hidden;
 }
 
 .info .panel-title h4 {
    float: left;
    position: relative;
    line-height: 1.7;
 }
 
 .info .panel-title h4::before {
    content: url(../images/right.png);
    display: block;
    float: left;
    margin-right: 10px;
 }
 
 .info .panel-title i {
    float: right;
    font-size: 24px;
 }
 
 .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border: 0;
    border-radius: 0;
 }
 
 .panel-group .panel+.panel {
    margin-top: 0px;
 }
 
 .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
 }
 
 .panel-default {
    border-color: #fff !important;
 }
 
 .panel,
 .panel-default {
    border-bottom: 1px solid #ccc !important;
 }
 
 .panel-group .panel-heading+.panel-collapse>.list-group,
 .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px solid #ddd;
 }
 
 .panel-body p {
    font-size: 16px;
    margin-left: 20px;
 }
 
 .panel-body p b {
    font-size: 18px;
    font-weight: 500;
    display: block;
 }
 /**/
 
 .help {
    margin-bottom: 50px;
 }
 
 .help h5 {
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 20px;
 }
 
 .help p {
    font-size: 16px;
    margin-bottom: 20px;
 }
 
 .help i {
    margin-right: 5px;
 }
 
 .help span {
    margin-right: 15px;
 }
 /**/
 
 footer {
    background: #000;
    padding: 40px;
 }
 
 footer h5 {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 700;
 }
 
 footer li a {
    color: #fff !important;
    display: block;
    padding: 5px 0px !important;
    opacity: .8;
 }
 
 footer .social {
    margin-top: 30px;
 }
 
 footer .social ul {
    margin: 0;
    padding: 0;
    list-style: none;
 }
 
 footer .social li {
    display: inline-block;
    color: #fff;
    font-weight: 500;
 }
 
 footer .social li a {
    display: block;
    margin: 0 3px;
    height: 25px;
    width: 25px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    opacity: 1;
 }
 
 footer .social li:nth-child(2) a {
    background-color: #4A90E2;
 }
 
 footer .social li:nth-child(3) a {
    background-color: #CC0027;
 }
 
 footer .social li:nth-child(4) a {
    background-color: #0063D6;
 }
 /*top up page*/
 
 .top-up-slide {
    background-image: url(../images/top-up.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;
    margin-top: 50px;
 }
 
 .top-up {
    padding: 60px;
 }
 
 .top-up h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
 }
 
 .top-up select {
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
 }
 
 input#disabledInputTopUp::placeholder {
    color: #000;
 }
 
 input[type="text"]:disabled {
    background-color: #fff;
    border: 1px solid #ccc;
    border-right: 0;
    width: 0%;
    padding: 13px;
 }
 
 input#disabledInputTopUp {
    cursor: not-allowed;
    width: 11%;
    float: left;
 }
 
 input.top-up-number {
    width: 89%;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 16px;
 }
 
 input.top-up-number::placeholder {
    color: #555;
 }
 
 .top-up p {
    font-size: 15px;
    color: #bbb;
 }
 
 .top-up button {
    display: block;
    border: 0;
    width: 100%;
    background-color: #019844;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    position: relative;
    border: 3px solid #fff;
    transition: .3s;
    margin-top: 15px;
 }
 
 .top-up button:after {
    content: '>';
    position: absolute;
    top: 0;
    right: 0%;
    padding: 13.5px;
    width: 12%;
    background-color: #019844;
    font-size: 18px;
    border-left: 3px solid #fff;
    transition: .3s
 }
 
 .top-up button:hover {
    border: 3px solid #000;
    color: #000;
    background-color: #fff;
 }
 
 .top-up button:hover:after {
    border-left: 3px solid #000;
    background-color: #fff;
 }
 /**/
 
 .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
 }
 
 @-webkit-keyframes animatebottom {
    from {
       bottom: -100px;
       opacity: 0
    }
    to {
       bottom: 0px;
       opacity: 1
    }
 }
 
 @keyframes animatebottom {
    from {
       bottom: -100px;
       opacity: 0
    }
    to {
       bottom: 0;
       opacity: 1
    }
 }
 
 #polo {
    display: none;
    text-align: center;
 }
 
 .clearfix {
    display: none;
 }
 
 .sim-company h4 {
    margin-top: 40px;
 }
 
 .sim-company>p {
    color: #000;
    margin-bottom: 30px;
 }
 
 .single-sim-box {
    margin-bottom: 15px;
 }
 
 .single-sim-box img {
    border: 1px solid #ccc;
 }
 
 .single-sim-box img:hover {
    border: 1px solid #333;
 }
 
 .single-sim-box p {
    color: #333;
    text-align: center;
 }
