@media all and (max-width:992px) {
   .slider {
      margin-top: 150px;
   }
   .content {
      padding-top: 75%;
   }
}

@media all and (max-width:768px) {
   .content {
      direction: rtl;
      padding-right: 30px;
      margin: 30px 0;
      height: 40px;
      padding-top: 0%;
   }
   .slider {
      margin-top: 50px;
   }
   .content h1 {
      width: 100%;
   }
   .content p {
      width: 100%;
   }
}

@media all and (max-width:550px) {
   .col-xs-4 {
      width: 50%;
   }
   .col-xs-offset-4 {
      margin-left: 25%;
   }
}

@media all and (max-width:550px) {
   .col-xs-4 {
      width: 70%;
   }
   .col-xs-offset-4 {
      margin-left: 15%;
   }
}
