@media all and (max-width: 992px) {
    .comparison {
        margin-top: 3800px;
    }
    .pro {
        border-top: 0px solid #D8D8D8;
        border-bottom: 0px solid #D8D8D8;
        border-right: 0px;
        border-left: 0;
    }
}

@media all and (max-width: 750px) {
    .banner .btn-group a {
        padding: 5px 20px;
    }
    .comparison .col-md-3 {
        padding: 5px 0;
    }
}
