@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
   footer {
      padding-left: 15px;
   }
}

@media (max-width: 575px) {
   header .col-lg-12 {
      text-align: center;
   }
   .names .col-sm-5 {
      text-align: center !important;
   }
   footer ul li {
      display: block;
   }
}
