/* Common Styles
================*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


body {
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   background-color: #fff;
   color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 15px;
   font-weight: 700;
}

a,
a:hover,
a:focus,
a:active,
a:hover,
a:visited {
   text-decoration: none;
   color: #333;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}


input:focus,
textarea:focus,
button:focus {
   outline: 0 solid;
}


.sitename h2 {
   font-size: 28px;
}

header {
   background-color: #283E56;
   padding-top: 30px;
   padding-bottom: 10px;
}

header img {
   margin: auto;
}

.add {
   background-color: #FF9900;
   margin-bottom: 80px;
}

.add p {
   line-height: 20px;
   margin-bottom: 5px;
}

.single-add-box {
   padding: 50px 0;
   color: #fff;
}

.single-add-box h4 {
   font-size: 21px;
   margin-bottom: 20px;
}

.single-add-box span {
   font-size: 14px;
   color: #0000ff;
}

.boxed-btn {
   margin: 20px auto 0;
   font-size: 20px;
   cursor: pointer;
   display: table;
   background: #e0e1e2;
   padding: .78571429em 1.5em;
   line-height: 1em;
   font-style: normal;
   text-align: center;
   border-radius: .28571429rem;
   color: #fff !important;
   font-weight: 600;
}

.bg-red {
   background-color: #FF0000;
}

.bg-blue {
   background-color: #0B5394;
}


.hurry {
   background-color: #283E56;
   padding: 40px 0 60px;
}

.hurry h1 {
   position: relative;
   display: table;
   margin: auto;
   color: #fff;
   font-size: 32px;
   padding-bottom: 20px;
   padding-left: 10px;
   padding-right: 10px;
}

.hurry h1:after {
   position: absolute;
   content: '';
   bottom: 0;
   left: 0;
   width: 92%;
   height: 1px;
   background-color: #1D2836;
   margin-left: 4%;
}

footer {
   background-color: #2E4662;
   padding: 60px 0 40px;
   text-align: center;
   color: #fff;
}

footer a {
   color: #3372C4 !important;
}

footer a:hover {
   color: #1E70AA !important;
}

footer p,
footer span {
   margin-bottom: 0;
}

footer span {
   margin-top: 15px;
   font-size: 14px;
   display: block;
}
