@font-face {
    font-family: "Skolar Latin";
    font-style: normal;
    font-weight: 700;
    src: url("https://use.typekit.net/af/74be9c/00000000000000003b9ad8a9/27/d?subset_id=2&fvd=n7&v=3") format("woff");
}

@font-face {
    font-family: "skolar-latin-1";
    font-style: normal;
    font-weight: 400;
    src: url("https://use.typekit.net/af/380d35/00000000000000003b9ad8a6/27/d?subset_id=2&fvd=n4&v=3") format("woff");
}

@font-face {
    font-family: "Bree Rg";
    font-style: normal;
    font-weight: 400;
    src: url("https://use.typekit.net/af/8fcec6/000000000000000000013389/27/d?subset_id=2&fvd=n4&v=3") format("woff");
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
form {
    border: 0;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}


/*header
========*/

header {
    background-color: #202026;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li.active {
    background-color: #000;
}

nav ul li a {
    display: block;
    padding: 21.5px 6px;
    color: #8A8E98;
    text-decoration: none;
    font-family: Skolar Latin;
    text-transform: uppercase;
    font-size: 11px;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

header input {
    background: #eee;
    outline: none;
    -webkit-transition: .07s ease-in;
    transition: .07s ease-in;
    border: none;
    border-radius: 0;
    height: 58px;
    padding: 0 15px;
    width: 215px;
    font-family: Skolar Latin;
    font-weight: normal;
}

header input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #AFA5A5;
}

header input::-moz-placeholder {
    /* Firefox 19+ */
    color: #AFA5A5;
}

header input:-ms-input-placeholder {
    /* IE 10+ */
    color: #AFA5A5;
}

header input:-moz-placeholder {
    /* Firefox 18- */
    color: #AFA5A5;
}

header input:focus {
    color: #666;
}

header .src-btn {
    border-left: dotted 1px #37373c;
    padding-left: 10px;
    margin-left: 0;
    color: #fff;
    padding: 20px 8px;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}


/*site logo
=========*/

.site-logo {
    background: url(../img/cropped-kapyton-pure-white-leather-wallpaper.jpg);
    background-size: 100% 200%;
    padding: 80px;
}

.site-logo h1 {
    text-align: center;
}

.site-logo h1 a {
    color: #fff;
    border: solid 4px #fff;
    padding: 8px 10px;
    text-transform: uppercase;
    display: inline-block;
    font-family: Bree Rg;
    margin-bottom: 15px;
}

.site-logo p {
    font-family: Skolar Latin;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 3px
}


/*post
======*/

.post {
    background: url(../img/post-bg.jpg);
}
.post .col-md-4{}
.post .box {
    margin: 45px 0 ;
}

.post a img {
    width: 400px;display: block;margin: auto;
}

.post .content {
    background-color: #fff;
    width: 400px;
    color: #555555;margin: auto;
    font-weight: bold;
    padding: 0 45px 20px;
}

.post .content h3 {
    text-align: center;
    font-family: Bree Rg;
    padding: 20px 0;
}

.post .content p {
    font-family: skolar-latin-1;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.6;
}

.post .content a.link {
    float: right;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.post .content a {
    color: #CAD3DA;
    -webkit-transition: 0.2s;
    transition: 0.2s
}

.post .content a:hover {
    color: #000;
}


footer{
    background-color: #272A33;padding: 35px 30px;
}footer a{
    border-bottom: 1px solid #8A8E98;color: #8A8E98;font-family: skolar-latin-1;text-transform: uppercase;font-size: 11px;font-weight: bold;
}footer a:hover{color: #fff;}